* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

.page {
    min-height: 100vh;
    border: 1px solid #777;
    margin: 10px;
    background: #fff;    
}

.navbar {
    background-color: #fff;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    z-index: 1000;

}

.logo {
    font-size: 1.2em;
    font-weight: bold;
    color: #3b4a5d;
    margin-left: 80px;
    cursor: pointer;
}

.logo:hover {
    color: #0088ff;
    text-decoration: underline;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav-links a {
    color: #6f7e8f;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
}

.nav-links a:hover {
    color: #0088ff;
    text-shadow: 0 2px 4px rgba(0, 136, 255, 0.3);
}

.user-btn {
    background-color: #baf9ff;
    color: #0088ff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 500;
    margin-right: 60px;
}

.user-btn:hover {
    background-color: #0088ff;
    color: #fff;
    box-shadow: 0 4px 15px rgba(0, 136, 255, 0.3);
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 60px 200px 20px;
    top: 80px;
    margin-top: 120px;
}

.hero-text {
    flex: 1;
    max-width: 1200px;
    margin-left: 20px;
    margin-top: 20px;
}

.hero-text h1 {
    font-size: 2.4em;
    line-height: 1.2;
    color: #3b4a5d;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 40px;
}

.hero-text .accent {
    color: #0088ff;
}

.hero-text .accent:hover {
    text-decoration: underline;
}

.hero-text p {
    font-size: 1.8em;
    line-height: 1.6;
    color: #6f7e8f;
    max-width: 1200px;
    margin-bottom: 30px;
}

.cta-btn {
    display: inline-block;
    background: #0088ff;
    color: #fff;
    border: none;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1.8em;
    font-weight: 500;
    box-shadow: 0 4px 15px rgba(59, 74, 93, 0.3);
}

.cta-btn:hover {
    background: #005f99;
    box-shadow: 0 6px 20px rgba(59, 74, 93, 0.5);

}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;

}

.hero-image img {
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(59, 74, 93, 0.3);
    
}