* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-color: #fff;
    color: #fff;
    line-height: 1.6;
}

.page {
    min-height: 88vh;
    margin: 5px;
    background: #fff;   

}

.navbar {
    background-color: #fff;
    color: #fff;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 24px;
    left: 0px;
    right: 0px;
    z-index: 1000;

}

.logo {
    font-size: 1.6em;
    font-weight: bold;
    color: #3b4a5d;
    margin-left: 80px;
    cursor: pointer;
}

.logo:hover {
    color: #0088ff;
    text-decoration: underline;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav-links a {
    color: #6f7e8f;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
}

.nav-links a:hover {
    color: #0088ff;
    text-shadow: 0 2px 4px rgba(0, 136, 255, 0.3);
}

.user-btn {
    background-color: #baf9ff;
    color: #0088ff;
    border: none;
    padding: 10px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 500;
    margin-right: 60px;
}

.user-btn:hover {
    background-color: #0088ff;
    color: #fff;
    box-shadow: 0 4px 15px rgba(0, 136, 255, 0.3);
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 60px 80px 10px;
    top: 80px;
    margin-top: 80px;
}

.Left-div {
    flex: 1;
    max-width: 1200px;
    margin-left: 20px;
    margin-top: 20px;
}

.Left-div h1 {
    font-size: 2.6em;
    line-height: 1.4;
    color: #3b4a5d;
    font-weight: 700;
    margin-top: 40px;
}

.Left-div .accent {
    color: #0088ff;
    padding: 1px 4px;
    border-radius: 4px;
    margin: 1px 4px;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.Left-div .accent:hover {
    text-decoration: underline;
    text-shadow: 0 2px 4px rgba(0, 136, 255, 0.3);
}

.Left-div p {
    font-size: 1.8em;
    line-height: 1.6;
    color: #6f7e8f;
    max-width: 1200px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.cta-btn {
    display: inline-block;
    background: #0088ff;
    color: #fff;
    border: none;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1.8em;
    font-weight: 500;
    box-shadow: 0 4px 15px rgba(59, 74, 93, 0.3);
}

.cta-btn:hover {
    background: #005f99;
    box-shadow: 0 6px 20px rgba(59, 74, 93, 0.5);
}

.Right-div {
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
    
}

.Right-div img {
    max-width: 400px;
    border-radius: 8px;
    
}

@media (max-width: 1024px) {
    .hero {
        flex-direction: column;
        padding: 40px 20px;
    }

    .Right-div {
        margin-top: 20px;
        width: 80%;
        align-items: center;
    }

    .Left-div {
        margin-left: 0;
        text-align: center;
    }


}